<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>MEAN Boilerplate</title>
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./public/css/main.css" />
</head>
<body ng-cloak>
    <div class="container" ng-controller="makeController">
      <div class="col-lg-6">
        <select ng-model="make" ng-change="getModels(make)" class="form-control">
          <option disabled selected value="">
            -- Select a Make --
          </option>
          <option ng-repeat="make in makes" value={{make.niceName}}>
            {{ make.name }}
          </option>
        </select>
        <br />
        <select ng-model="model" ng-change="getYears(make, model)" class="form-control" ng-show="make">
          <option disabled selected value="">
            -- Select a Model --
          </option>
            <option ng-repeat="model in models" value={{model.niceName}}>
              {{ model.name }}
            </option>
        </select>
        <br />
        <select ng-model="year" ng-change="getOptions(make, model, year)" class="form-control" ng-show="model">
          <option disabled selected value="">
            -- Select a Year --
          </option>
            <option ng-repeat="year in years" value={{year.year}}>
              {{ year.year}}
            </option>
        </select>
        <br />
        <select ng-model="option" ng-change="getStockPhoto(make, model, year); getSccaClasses()" class="form-control" ng-show="year">
          <option disabled selected value="">
            -- Select Options --
          </option>
          <option ng-repeat="option in options" value={{option.name}}>
            {{ option.name}}
          </option>
        </select>
        <br />
        <br />
        <div class="photo" ng-model="photo" ng-show=photo>
          <img ng-src="{{ photo }}" alt="photo" class="photo"/>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="classes" ng-repeat="classObj in sccaClasses | orderBy:-classObj">
          <p>
            {{ classObj }}
          </p>
        </div>
      </div>
  </div>



  <!-- scripts -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
  <script src="./main.js"></script>
  <script src="./services.js"></script>
  <script src="./controllers.js"></script>

</body>
</html>
